@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";
.modal {
  &__header {
    display: flex;
    justify-content: flex-end;
    font-size: 2rem;
    height: 2.5rem;
  }
  &__pledge-form {
    @include modal-background;

    &-container {
     @include modal;
      width: 30em;
    }

    &__title {
      font-weight: 600;
      text-transform: uppercase;
    }
    &__input {
      padding-right: 10rem;
    }

    &__button {
      @include button-submit;
      &--cancel {
        @include button-cancel;
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
  }
}
