@import "../../styles/variables";
@import "../../styles/mixins";
.add-item {
    width: 40%;
    margin: 0 auto;
    padding: 2rem;
    @include modal-background;

    &__container{
        @include modal;
        padding-top: 1rem;
    }

    &__title {
        font-weight: 900;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        color: $DarkGreen;
    }

    &__subtitle {
        font-weight: 600;
        display: flex;
        justify-content: center;
    }

    &__input {
        border-color: $DarkGreen;
    }

    &__footer-container {
        display: flex;
        justify-content: space-between;
    }

    &__btn {
        @include button-submit;

        &--cancel {
            @include button-cancel;
        }
    }
}