.homepage {
    padding: 4rem 5rem 0rem 5rem;
    background-color: #EEF0E5;
    height: 100vh;
    
    &__logo {
        height: 10rem;
        
    }

    &__logo-container {
        display: flex;
        justify-content: center;
    }

    &__subheading {
        font-weight: 600;
        color: #5E6073;
        font-size: 2.5rem;
        width: 50%;
        text-align: center;
    }

    &__pledge-container {
        display: flex;
        background-color: white;
        border-radius: 6px;
        padding: 3rem;
        margin-top: 3rem;
    }
}