.homepage {
  height: 100vh;
  

  &__hero-container {
    height: 700px;
    max-height: 700px;
    background-color: rgba(137, 163, 178, 0.5);
    background-position: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;

    &-text {
      margin-left: 4rem;
      margin-right: 1rem;
      width: 50%;
    }
  }

  &__hero-title {
    font-weight: 900;
    font-size: 4.5rem;
    max-height: 700px;
  }

  &__hero-text {
    font-weight: 600;
    line-height: 2.5rem;
  }
  //maybe make this all under one __hero
  &__hero-button {
    border-radius: 20px;
    border: none;
    padding: 0.5rem 1rem;
    background-color: #187F5A;
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
  }

  &__login-button {
    border-radius: 20px;
    border: none;
    padding: 0.5rem 1rem;
    background-color: #187F5A;
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
    margin-left: 4rem;
  }

  &__image {
    height: 500px;
    margin-right: 3rem;
  }

  &__subheading {
    font-weight: 600;
    color: #5e6073;
    font-size: 2.5rem;
    width: 50%;
    text-align: center;
  }

  &__pledge-container {
    display: flex;
    background-color: white;
    border-radius: 6px;
    padding: 3rem;
    margin-top: 3rem;
  }
}
